.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #384153;
  min-height: 100vh;
  font-size: 15px;
  color: white;
}

.Formatting-button {
  padding-left: 10px;
  color: red;
}

button:hover {
  background-color: #da9809;
}


.Formatting-textdiv {
  padding-left: 30px;
  padding-top: 40px;
}
.Formatting-AddTask {
  padding-right: 30px;
}


